@media (prefers-color-scheme: light) {
  :root {
    --body-background: #e7e9f1;
    --primary-accent: #ff9f00;
    --secondary-accent: #00bcd9;
    --logo: url('/images/logo-light.png');
    --nav-text: #4f4b4e;
    --main-background: #ffffff;
    --main-text: #000000;
    --footer-background: #676486;
    --footer-text: #fff;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --body-background: #000000;
    --primary-accent: #ff9f00;
    --secondary-accent: #00bcd9;
    --logo: url('/images/logo-dark.png');
    --nav-text: #ccc;
    --main-background: #333;
    --main-text: #ccc;
    --footer-background: #676486;
    --footer-text: #fff;
  }
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--body-background);
}

header {
    margin: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

#header-logo {
    height: 100px;
    width: auto;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a {
    padding: 10px;
    font-weight: 200;
    background-color: var(--main-background);
    color: var(--nav-text);
    text-decoration: none;
    font-size: 25px;
    font-family:Arial, Helvetica, sans-serif;
}

nav a:hover {
    text-decoration: underline;
}

#sign-in-button {
    background-color: var(--primary-accent);
    color: white;
    font-weight: 900;
}

#donate-button {
    background-color: var(--secondary-accent);
    color: white;
    font-weight: 900;
}

main {
    max-width: 900px;
    margin: 20px auto;
    color: var(--main-text);
    font-size: 20px;
    display: grid;
}

/* Homepage grid layout */
#about-us {
    grid-area: about;
}

#upcoming-events {
    grid-area: events;
}

#mailing-list {
    grid-area: mailing;
}

#donate {
    grid-area: donate;
}
.homepage-layout {
    grid-template-columns:  1fr 1fr 1fr;
    grid-template-areas: 
        "about about about"
        "events mailing donate";
}

/* Events page grid layout */

/* form page grid layout */

/* Inventory page grid layout */

h1, h2, h3, h4 {
    font-family: "Solway", serif;
}

h2 {
    font-size: 36px;
}

.card {
    background-color: var(--main-background);
    border-top: 5px solid var(--primary-accent);
    margin: 10px;
    padding: 20px;
}

.card p {
    padding: 10px 0;
}

.action-button {
    color: white;
    background-color: var(--secondary-accent);
    margin: 5px 0;
    padding: 10px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 15px;
}

footer {
    background-color: var(--footer-background);
    color: var(--footer-text);
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a {
    color: var(--footer-text);
    text-decoration: none;
    font-size: 20px;
}

footer a:hover {
    text-decoration: underline;
}