button {
    cursor: pointer;
    border: 0;
}

.form-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.button-row-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.button-row-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.form-row button, .form-row a {
    border: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    text-decoration: none;
}

.primary {
    background-color: var(--primary-accent);
    color: white;
}

.secondary {
    background-color: var(--secondary-accent);
    color: white;
}

input, select {
    border: 1px solid var(--main-text);
    background-color: var(--main-background);
    color: var(--main-text);
    padding: 5px;
    margin: 5px;
}

.full {
    flex-grow: 1;
}

.delete-button {
    background-color: var(--danger-background);
    color: var(--danger-text);
    border: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
}