@media (prefers-color-scheme: light) {
  :root {
    --body-background: #e7e9f1;
    --primary-accent: #ff9f00;
    --secondary-accent: #00bcd9;
    --danger-background: red;
    --danger-text: #fff;
    --logo: url('/images/logo-light.png');
    --nav-text: #4f4b4e;
    --main-background: #ffffff;
    --main-text: #000000;
    --footer-background: #676486;
    --footer-text: #fff;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --body-background: #000000;
    --primary-accent: #ff9f00;
    --secondary-accent: #00bcd9;
    --danger-background: red;
    --danger-text: #fff;
    --logo: url('/images/logo-dark.png');
    --nav-text: #ccc;
    --main-background: #333;
    --main-text: #ccc;
    --footer-background: #676486;
    --footer-text: #fff;
  }
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--body-background);
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
.error-message {
    display: flex;
    justify-content: center;
}
.error-message p {
    background-color: var(--danger-background);
    color: var(--danger-text);
    margin: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    font-family:Arial, Helvetica, sans-serif;
}

.error-message i {
    margin-right: 5px;
}

header {
    margin: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

#header-logo {
    height: 100px;
    width: auto;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a {
    padding: 10px;
    font-weight: 200;
    background-color: var(--main-background);
    color: var(--nav-text);
    text-decoration: none;
    font-size: 25px;
    font-family:Arial, Helvetica, sans-serif;
}

nav a:hover {
    text-decoration: underline;
}

#inventory-link {
    display: none;
}

#sign-in-button, #sign-out-button {
    background-color: var(--primary-accent);
    color: white;
    font-weight: 900;
}

#sign-out-button {
    display: none;
}

#donate-button {
    background-color: var(--secondary-accent);
    color: white;
    font-weight: 900;
}
#pop-up-container {
    display: none;
    background-color: rgba(0, 0, 0, 0.80);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
}
#sign-in-pop-up {
    position: relative;
    background-color: var(--main-background);
    color: var(--main-text);
    padding: 20px;
}
.close-button {
    position: absolute;
    top: 5px;
    right: 5px;
}

main {
    max-width: 900px;
    margin: 20px auto;
    color: var(--main-text);
    font-size: 20px;
}

/* Homepage grid layout */
#about-us {
    grid-area: about;
}

#upcoming-events {
    grid-area: events;
}

#mailing-list {
    grid-area: mailing;
}

#donate {
    grid-area: donate;
}
.homepage-layout {
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
    grid-template-areas: 
        "about about about"
        "events mailing donate";
    gap: 5px;
}

/* Events page grid layout */

/* form page grid layout */

/* Inventory page grid layout */

h1, h2, h3, h4 {
    font-family: "Solway", serif;
}

h2 {
    font-size: 36px;
}

.card {
    background-color: var(--main-background);
    border-top: 5px solid var(--primary-accent);
    margin: 10px 0;
    padding: 20px;
}

.card p {
    padding: 10px 0;
}

.action-button {
    color: white;
    background-color: var(--secondary-accent);
    margin: 5px 0;
    padding: 10px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 15px;
}

/* Events */
#upcoming-events article {
    border: 1px solid var(--main-text);
    margin: 5px;
    padding: 10px;
}

footer {
    background-color: var(--footer-background);
    color: var(--footer-text);
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a {
    color: var(--footer-text);
    text-decoration: none;
    font-size: 20px;
}

footer a:hover {
    text-decoration: underline;
}

/* forms and rows */
button {
    cursor: pointer;
    border: 0;
}

.form-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.button-row-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.button-row-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.submit-button {
    color: white;
    background-color: var(--primary-accent);
    margin: 5px 0;
    padding: 10px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 15px;
}

input, select {
    border: 1px solid var(--main-text);
    background-color: var(--main-background);
    color: var(--main-text);
    padding: 5px;
    margin: 5px;
}

.form-row button {
    background-color: var(--primary-accent);
    border: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
}

.button-full {
    flex-grow: 1;
}

.delete-button {
    background-color: var(--danger-background);
    color: var(--danger-text);
    border: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
}

/* tables */
table {
    border-collapse: collapse;
    border: 1px solid var(--footer-background);
    width: 100%;
    margin: 10px 0;
    overflow-y: scroll;
}

thead {
    background-color: var(--footer-background);
    color: white;
    text-align: left;
}

td {
    padding: 5px;
}

tr:nth-child(even) {
    background-color: var(--body-background);
}