button {
  cursor: pointer;
  border: 0;
}

.form-row {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
  margin: 5px 0;
}

.form-row input[type=text] {
  flex-grow: 1;
}

.button-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 5px;
  margin: 10px 0;
}

.left {
  justify-content: flex-start;
}

.right {
  justify-content: flex-end;
}

.form-row button,
.form-row a,
.button-row button,
.button-row a,
.check {
  border: 0;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  margin: 0;
  font-size: 1rem;
}

.primary {
  background-color: var(--primary-accent);
  color: white;
}

.primary:hover {
  background-color: var(--primary-hover);
}

.secondary {
  background-color: var(--secondary-accent);
  color: var(--secondary-text);
}

.secondary:hover {
  background-color: var(--secondary-hover);
}

input,
select {
  border: 1px solid var(--main-text);
  background-color: var(--main-background);
  color: var(--main-text);
  padding: 5px;
  margin: 5px;
}

textarea {
  width: calc(100% - 20px);
  min-height: 100px;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid var(--main-text);
  background-color: var(--main-background);
  color: var(--main-text);
}

#donateContentTextArea {
  height: 500px;
}

.full {
  flex-grow: 1;
}

.delete-button {
  background-color: var(--error-background);
  color: var(--error-text);
  border: 0;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
}

.delete-button:hover {
  background-color: var(--error-hover);
}

fieldset {
  padding: 5px;
  margin-bottom: 10px;
}
fieldset legend {
  padding: 5px;
}

input[type="checkbox"] {
  opacity: 0;
}

@media (max-width: 460px) {
.button-row {
  margin: 10px;
  flex-wrap: wrap;
}
}
