/* Page Grid */
#page-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 140px 30px auto 50px;
    grid-template-areas: 
        "header"
        "message-area"
        "main"
        "footer";
    height: 100vh;
    justify-items: center;
}

header {
    grid-area: header;
}

#message-area {
    grid-area: message-area;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

/* Homepage grid layout */
#about-us {
    grid-area: about;
}

#upcoming-events {
    grid-area: events;
}

#mailing-list {
    grid-area: mailing;
}

#donate {
    grid-area: donate;
}
.homepage-layout {
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
    grid-template-areas: 
        "about about about"
        "events mailing donate";
    gap: 5px;
}

/* Events page grid layout */

/* form page grid layout */

/* Inventory page grid layout */

/*Screens smaller than 1045px*/
@media (max-width: 1044px) {
    #page-wrapper {
        grid-template-rows: 150px 30px auto 50px;
    }
}

/* Screens smaller than 850 */
@media (max-width: 850px) {
    #page-wrapper {
        grid-template-rows: 100px 30px auto 50px;
    }
}