/* Color variables for dark and light mode */
@media (prefers-color-scheme: light) {
    :root {
        --body-background: #e7e9f1;
        --primary-accent: #ff9f00;
        --secondary-accent: #00bcd9;
        --message-text: white;
        --error-background: #b81f24;
        --success-background: green;
        --delete-background: #FC6A03;
        --nav-text: #4f4b4e;
        --main-background: #ffffff;
        --main-text: #000000;
        --footer-background: #676486;
        --footer-text: #fff;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --body-background: #000000;
        --primary-accent: #ff9f00;
        --secondary-accent: #00bcd9;
        --message-text: white;
        --error-background: #b81f24;
        --success-background: green;
        --delete-background: #FC6A03;
        --error-text: #fff;
        --nav-text: #ccc;
        --main-background: #333;
        --main-text: #ccc;
        --footer-background: #676486;
        --footer-text: #fff;
    }
}

/* CSS reset to remove default padding and margin */
* {
    padding: 0;
    margin: 0;
}

body {
    overscroll-behavior: none;
    position: relative;
    z-index: 1;
    width: 100vw;
    background-color: var(--body-background);
}

/* Google material icons */
.material-symbols-outlined {
    vertical-align: middle;
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

/* Screen reader */
.skip-link {
    position: absolute;
    left: -10000px;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.skip-link:focus {
    position: static;
    left: auto;
    width: auto;
    height: auto;
    overflow: visible;
    background-color: var(--secondary-accent);
    color: white;
    padding: 10px;
    z-index: 9999;
    text-decoration: none;
    border: 3px solid white;
}

/* header
    The header contains two elements: 
    - The logo as a picture tag (to change image based on dark mode preference)
    - The nav menu (On desktop, its inline with the logo. On mobile, its postion absolute)
*/
/*
header {
}
 Not sure if needed here. All rules are currently in the medai breakpoints */


/* navbar */
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

nav a,
nav button {
    font-weight: 200;
    background-color: var(--main-background);
    color: var(--nav-text);
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

nav a:hover {
    text-decoration: underline;
}

[aria-current]:not([aria-current="false"]) {
    background-color: var(--secondary-accent);
    color: white;
}

#open-sign-in-modal-button,
#sign-out-button {
    background-color: var(--primary-accent);
    color: white;
    border: 0;
}

#inventory-link {
    display: none;
}

#sign-out-button {
    display: none;
}

/* Modals */
.backdrop {
    display: none;
    background-color: rgba(0, 0, 0, 0.80);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    flex-direction: column;
    align-items: center;
}

.modal {
    position: relative;
    background-color: var(--main-background);
    color: var(--main-text);
    padding: 20px;
    animation-duration: 0.5s;
    animation-name: fade-in;
    animation-timing-function: ease-in;

}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* messages */
.message-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.message {
    margin: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    animation-duration: 0.2s;
    animation-name: fade-in;
    animation-timing-function: ease-in;
}

.message button {
    background-color: inherit;
    color: inherit;
    border: 1px solid var(--message-text);
    border-radius: 5px;
    margin: 0 5px;
    cursor: pointer;
}

.success {
    background-color: var(--success-background);
    color: var(--message-text);
}

.error {
    background-color: var(--error-background);
    color: var(--message-text);
}

.warn {
    background-color: var(--delete-background);
    color: var(--message-text);
}

.info {
    background-color: var(--secondary-accent);
    color: var(--message-text);
}

/* main */
main {
    color: var(--main-text);
    font-size: 20px;
}

h1,
h2,
h3,
h4 {
    font-family: "Solway", serif;
}

.card {
    background-color: var(--main-background);
    border-top: 5px solid var(--primary-accent);
    margin: 10px auto;
    padding: 20px;
}

/* footer */


/* Media breakpoints */
/*Screens 1045 and larger*/
@media (min-width: 1045px) {
    #mobile-nav-toggle {
        display: none;
    }

    #desktop-header-logo {
        display: inline-block;
        height: 100px;
    }

    #mobile-header-logo {
        display: none;
    }

    header {
        margin: 20px;
        display: flex;
        justify-content: center;
        gap: 5px;
        align-items: center;
    }

    nav a,
    nav button {
        padding: 10px;
        font-size: 25px;
    }

    .backdrop {
        justify-content: center;
    }

    main {
        width: 100%;
        margin: 20px 0;
        max-width: 900px;
    }

    h2 {
    font-size: 36px;
}

    .card {
        max-width: 900px;
    }
}

/* Screens between 851px and 1044px */
@media (min-width: 851px) and (max-width: 1044px) {
    #mobile-nav-toggle {
        display: none;
    }

    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #desktop-header-logo {
        display: none;
    }

    #mobile-header-logo {
        display: block;
        width: 275px;
        margin-bottom: 10px;
    }

    nav a,
    nav button {
        padding: 10px;
        font-size: 25px;
    }

    .backdrop {
        justify-content: center;
    }

    main {
        margin: 20px 0;
        width: 100vw;
    }

    h2 {
    font-size: 36px;
}

    .card {
        max-width: 900px;
    }
}

/* Screens smaller than 850 */
@media (max-width: 850px) {
    header {
        display: block;
        padding: 25px 10px 0 10px;
    }

    #desktop-header-logo {
        display: none;
    }

    #mobile-header-logo {
        display: block;
        width: 275px;
        margin-bottom: 10px;
    }

    #mobile-nav-toggle {
        display: block;
        position: absolute;
        right: 20px;
        top: 25px;
        font-size: 50px;
        background-color: transparent;
        border: 0;
        color: var(--main-text);
        z-index: 2;
    }

    nav {
        display: none;
        padding-top: 110px;
        flex-direction: column;
        justify-content: flex-start;
        background-color: var(--main-background);
    }

    nav a,
    nav button {
        width: calc(100% - 20px);
        font-size: 25px;
        padding: 5px 10px;
    }

    nav.open {
        display: flex;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
    }

    .backdrop {
        justify-content: flex-start;
        z-index: 3;
    }

    .modal {
        margin-top: 10px;
        width: calc(85vw);
    }

    .card {
        width: calc(99vw - 60px);
    }
}