table {
    border-collapse: collapse;
    border: 1px solid var(--footer-background);
    width: 100%;
    margin: 10px 0;
    overflow-y: scroll;
}

thead {
    background-color: var(--footer-background);
    color: white;
    text-align: left;
}

td {
    padding: 5px;
}

tr:nth-child(even) {
    background-color: var(--body-background);
}

table ol,
table ul {
    margin: 5px 20px;
}